.TV2 {
    background-color: #fff8fb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .TV2 .group-wrapper2 {
    background-color: #fff8fb;
    overflow: hidden;
    width: 1920px;
    height: 1080px;
  }
  
  .TV2 .group2 {
    position: relative;
    width: 2084px;
    height: 1088px;
    top: -8px;
    left: -77px;
  }
  
  .TV2 .overlap2 {
    position: relative;
    width: 2074px;
    height: 1088px;
  }
  
  .TV2 .rectangle2 {
    position: absolute;
    width: 1913px;
    height: 330px;
    top: 118px;
    left: 78px;
    background-color: #c8207b;
  }
  
  .TV2 .image2 {
    width: 956px;
    height: 679px;
    left: 1034px;
    position: absolute;
    object-fit: cover;
  }
  
  .TV2 .div2 {
    position: absolute;
    width: 1913px;
    height: 118px;
    left: 78px;
    box-shadow: 0px 4px 4px #00000040;
    background: linear-gradient(180deg, rgb(161.5, 22.88, 47.8) 0%, rgb(232.69, 66.9, 96.7) 100%);
  }
  
  .TV2 .rectangle-22 {
    position: absolute;
    width: 1913px;
    height: 640px;
    top: 448px;
    left: 78px;
    background-color: #fff8fb;
  }
  
  .TV2 .rectangle-32 {
    position: absolute;
    width: 951px;
    height: 450px;
    top: 504px;
    left: 0;
    background-color: #f5eeee;
    border-radius: 15px;
  }
  
  .TV2 .rectangle-42 {
    position: absolute;
    width: 962px;
    height: 450px;
    top: 504px;
    left: 1112px;
    background-color: #f5eeee;
    border-radius: 15px;
  }
  
  .TV2 .consultar-produto2 {
    position: absolute;
    width: 335px;
    top: 528px;
    left: 1387px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #722735;
    font-size: 45px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .TV2 .bem-vindo2 {
    position: absolute;
    width: 484px;
    top: 215px;
    left: 353px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #fff7f8;
    font-size: 45px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .TV2 .cadastrar-produto2 {
    position: absolute;
    width: 324px;
    top: 528px;
    left: 347px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #722735;
    font-size: 45px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .TV2 .img2 {
    left: 1134px;
    position: absolute;
    width: 822px;
    height: 1px;
    top: 705px;
  }
  
  .TV2 .rectangle-52 {
    position: absolute;
    width: 755px;
    height: 149px;
    top: 762px;
    left: 129px;
    background-color: #a1162f;
    border-radius: 25px;
  }
  
  .TV2 .rectangle-62 {
    position: absolute;
    width: 755px;
    height: 149px;
    top: 762px;
    left: 1176px;
    background-color: #a1162f;
    border-radius: 25px;
  }
  
  .TV2 .text-wrapper2 {
    position: absolute;
    width: 166px;
    top: 795px;
    left: 429px;
    font-family: "Kadwa", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .TV2 .text-wrapper-22 {
    position: absolute;
    width: 166px;
    top: 801px;
    left: 1510px;
    font-family: "Kadwa", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .TV2 .image-22 {
    width: 218px;
    height: 218px;
    top: 181px;
    left: 118px;
    position: absolute;
    object-fit: cover;
  }
  
  .TV2 .overlap-group-wrapper2 {
    position: absolute;
    width: 1915px;
    height: 48px;
    top: 1040px;
    left: 78px;
  }
  
  .TV2 .overlap-group2 {
    position: relative;
    width: 100%;
    height: 48px;
    
    background-color: #712734;
  }
  
  .TV2 .text-wrapper-32 {
    position: absolute;
    width: 85px;
    top: 10px;
    left: 1800px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .TV2 .image-32 {
    width: 200px;
    height: 127px;
    top: 0;
    left: 934px;
    position: absolute;
    object-fit: cover;
  }
  